---
import specialPizza from "../assets/special-pizza.jpg";
import { Image } from "astro:assets";
import DiscountPriceName from "./DiscountPriceName";
import SpecialOffer from "./SpecialOffer";
---

<div
  class="flex justify-center 2xl:justify-start 2xl:pl-44 h-[530px] min-[500px]:h-[600px] min-[600px]:h-[700px] 2xl:h-[600px] bg-italia mt-20"
>
  <div class="flex flex-col 2xl:flex-row items-center">
    <div class="2xl:pr-24 2xl:pl-24">
      <SpecialOffer client:visible />
      <div class="px-5 2xl:px-0">
        <Image
          src={specialPizza}
          width={700}
          quality={48}
          format="avif"
          alt="special offer pizza"
        />
      </div>
    </div>
    <DiscountPriceName client:visible />
  </div>
</div>
