---
import tortellini from "../assets/tortellini.jpg";
import somePizza from "../assets/somePizza.jpg";
import rosemary from "../assets/rosemary.jpg";
import { Image } from "astro:assets";
---

<main>
  <Image
    src={tortellini}
    height={470}
    quality={50}
    format="avif"
    alt="picture of toretllini"
  />
  <Image
    src={somePizza}
    height={428}
    quality={50}
    format="avif"
    alt="picture of pizza"
  />
  <div>
    <p>opening hours</p>
  </div>
  <Image
    src={rosemary}
    height={500}
    quality={40}
    format="avif"
    alt="picture of dish with wine and pizza"
  />
</main>
