---
import tortellini from "../assets/tortellini.jpg";
import somePizza from "../assets/somePizza.jpg";
import rosemary from "../assets/rosemary.jpg";
import { Image } from "astro:assets";
---

<main>
  <Image
    src={tortellini}
    width={750}
    quality={50}
    format="avif"
    alt="picture of toretllini"
  />
  <Image
    src={somePizza}
    height={428}
    quality={50}
    format="avif"
    alt="picture of pizza"
  />
  <div class="flex justify-center items-center h-72">
    <div class="w-60 font-serif">
      <p class="pb-10 text-italia">Opening Hours</p>
      <p class="pb-1 text-stone-700">Mon - Fri: 12pm - 10pm</p>
      <p class="pb-1 text-stone-700">Saturday: 11am - 10pm</p>
      <p class="pb-1 text-stone-700">Sunday: 11am - 11pm</p>
    </div>
  </div>
  <Image
    src={rosemary}
    height={500}
    quality={40}
    format="avif"
    alt="picture of dish with wine and pizza"
  />
</main>
