---
import Food from "./Food.astro";
---

<div class="flex flex-col justify-center items-center">
  <div
    class="flex flex-col items-center justify-center lg:grid w-full lg:grid-cols-2 xl:grid-cols-3 border"
  >
    <div class="text-3xl font-serif text-italia pb-5">Antipasti</div>
    <div class="text-center pb-12">
      <span class="h-[1px] bg-black block w-9"></span>
    </div>
    <Food
      foodName="Schoko"
      description="I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text."
      price="9"
    />
    <Food
      foodName="Schoko"
      description="I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text."
      price="9"
    />
    <Food
      foodName="Schoko"
      description="I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text."
      price="9"
    />
    <Food
      foodName="Schoko"
      description="I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text."
      price="9"
    />
    <Food
      foodName="Schoko"
      description="I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text."
      price="9"
    />
    <Food
      foodName="Schoko"
      description="I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text."
      price="9"
    />
    <Food
      foodName="Schoko"
      description="I’m a dish description. Click “Edit Menu” to open the Restaurant Menu editor and change my text."
      price="9"
    />
  </div>
</div>
