---
import Layout from "../layouts/Layout.astro";
import MenuType from "../menu/MenuType.astro";
---

<Layout>
  <div class="flex flex-col items-center">
    <p class="text-2xl text-italia font-serif pb-2">Menu</p>
    <p class="text-lg text-orange-950 pb-7">Our Classic Food</p>
  </div>
  <MenuType />
</Layout>
