---
import { Image } from "astro:assets";
import aboutBg from "../assets/about-bg.webp";
import aboutBgBig from "../assets/about-bg-big.webp";
---

<div class="flex justify-center font-serif pt-6">
  <div class="w-[300px] flex flex-col items-center text-center">
    <div>
      <Image
        src={aboutBg}
        format="avif"
        alt="Picture of italia"
        class="sm:hidden"
      />
    </div>
    <div
      class="hidden sm:block lg:h-[500px] lg:w-[570px] 2xl:h-[700px] 2xl:w-[770px] xl:mb-9"
    >
      <Image
        src={aboutBgBig}
        quality={"40"}
        format="avif"
        alt="Picture of italia"
        class=""
      />
    </div>
    <div>
      <p class="text-2xl lg:text-3xl xl:pb-2 text-italia">Η Ιστορία μας</p>
      <p class="text-orange-950 text-lg lg:text-xl">Παράδοση Πίτσας: Πάθος</p>
      <div class="flex justify-center py-9">
        <span class="h-[1px] w-9 block bg-italia"></span>
      </div>
      <p
        class="text-orange-950 pb-8 md:w-96 lg:w-[550px] 2xl:w-[700px] lg:text-xl"
      >
        Στην καρδιά της πιτσαρίας μας, θα βρείτε μια κοινότητα που ενώνεται από
        την αγάπη μας για την πίτσα. Αυτό το κοινό πάθος έχει ριζωθεί βαθιά στην
        κληρονομιά μας για πολλές γενιές. Η αφοσίωσή μας στο να προσφέρουμε τις
        καλύτερες πιτσαρίες είναι μια παράδοση που αντέχει στο πέρασμα του
        χρόνου. Κάθε φέτα που σερβίρουμε είναι μια αληθινή έκφραση πάθους,
        προετοιμασμένη με πρώτες ύλες υψηλής ποιότητας. Σας προσκαλούμε να
        εξερευνήσετε το ποικίλο μας μενού, να απολαύσετε τις γαστρονομικές μας
        δημιουργίες και να ξεκινήσετε μαζί μας αυτό το αξέχαστο ταξίδι γεύσης.
        Καλή όρεξη!
      </p>
    </div>
  </div>
</div>
