---
import { Image } from "astro:assets";
import chef from "../assets/chef.jpg";
import insta from "../assets/insta.svg";
import facebook from "../assets/facebook.svg";
import twitter from "../assets/twitter.svg";
---

<div
  class="pt-9 lg:pt-14 xl:pt-28 flex flex-col justify-center items-center text-center font-serif"
>
  <div
    class="bg-white fixed left-0 top-0 bottom-0 w-[60px] lg:flex lg:justify-center lg:z-40 hidden"
  >
    <div class="flex flex-col justify-center items-center gap-y-6">
      <a
        href="https://www.instagram.com/"
        target="_blank"
        class="hover:cursor-pointer"
      >
        <Image src={insta} alt="in" class="h-6 w-10" />
      </a>
      <a href="https://www.facebook.com/" target="_blank">
        <Image src={facebook} alt="ad" class="h-6 w-10 hover:cursor-pointer" />
      </a>
      <a href="https://twitter.com/">
        <Image src={twitter} alt="dd" class="h-6 w-10 hover:cursor-pointer" />
      </a>
    </div>
  </div>
  <div
    class="bg-white fixed top-0 bottom-0 right-0 w-[60px] lg:flex lg:justify-center lg:z-20 hidden"
  >
    <div class="flex flex-col justify-center items-center gap-y-6">
      <p class="rotate-[90deg] font-bold text-2xl text-italia">DALFORNO</p>
    </div>
  </div>
  <div class="mb-28">
    <p class="text-italia text-2xl lg:text-3xl lg:pb-2">
      Owner & Executive Chef
    </p>
    <p class="text-xl">Alberto Paganini</p>
  </div>
  <div
    class="bg-italia relative w-full h-[390px] xl:h-[440px] flex justify-center"
  >
    <div
      class="w-64 lg:h-[400px] lg:w-[285px] xl:h-[420px] xl:w-[305px] absolute top-[-65px]"
    >
      <Image
        src={chef}
        width={434}
        format="avif"
        alt="Image of the Owner"
        class="h-full w-full"
      />
    </div>
  </div>
  <p class="pt-8 text-xl italic pb-10">"Al Dente makes you smile"</p>
  <p class="w-80 lg:w-[440px] lg:text-lg">
    I'm a paragraph. Click here to add your own text and edit me. It’s easy.
    Just click “Edit Text” or double click me to add your own content and make
    changes to the font. I’m a great place for you to tell a story and let your
    users know a little more about you.
  </p>
  <div class="flex justify-center pt-9 pb-5">
    <span class="h-[1px] w-9 block bg-italia"></span>
  </div>
</div>
