---

---

<div class="flex justify-center font-serif xl:pt-14">
  <div
    class="w-64 xl:w-[550px] flex flex-col text-center xl:text-left items-center pt-12"
  >
    <p class="text-italia text-3xl pb-6 xl:pb-9">Επικοινωνία</p>
    <p class="pb-6 text-lg xl:text-xl text-orange-950">
      Σπηλιάδου 8 48100 Préveza
    </p>
    <div
      class="text-lg xl:text-xl text-orange-950 xl:flex xl:justify-center xl:gap-x-36 xl:w-full"
    >
      <div class="pb-6 xl:leading-9">
        <p>Δευ - Παρ: 5μμ - 12πμ</p>
        <p>Σάββατο: 5πμ - 12πμ</p>
        <p>Κυριακή: 5πμ - 12πμ</p>
      </div>
      <div>
        <p>maxim@gmail.com</p>
        <p>2682 303320</p>
      </div>
    </div>
  </div>
</div>
