---
import ContactUs from "./ContactUs.astro";
import Form from "./Form.astro";
---

<footer>
  <ContactUs />
  <Form />

  <div class="border flex justify-center pt-8 pb-8 text-gray-800">
    <div class="w-48 text-center">
      <p>© 2024 Dalforno. Powered by Astro and React</p>
    </div>
  </div>
</footer>
