---
// import { Image } from "astro:assets";
import ContactUs from "./ContactUs.astro";
import Form from "./Form.astro";
// import dalfornoImg from "../../assets/dalfornoMapo.png";
---

<footer>
  <ContactUs />
  <Form />
  <!-- <div class="relative">
    <Image
      loading="lazy"
      width={2000}
      format="avif"
      quality={"high"}
      src={dalfornoImg}
      alt="map of dalforno"
    />
    <button
      class="absolute top-6 right-6 bg-white h-10 w-40 shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px]"
    >
      <a
        class="text-blue-600"
        target="_blank"
        href="https://www.google.com/maps/place/Dal+Forno+Pizzeria-Restaurant/@38.9564618,20.7544427,17z/data=!4m6!3m5!1s0x135c38fc8dbe46bd:0x513385bc1dfa3b1c!8m2!3d38.9561274!4d20.7548227!16s%2Fg%2F11bz0w5qms?hl=en&entry=ttu"
        >View larger Map</a
      >
    </button>
  </div> -->
  <iframe
    class="h-64 w-full"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.592916417052!2d20.752253141153435!3d38.95612737182928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135c38fc8dbe46bd%3A0x513385bc1dfa3b1c!2sDal%20Forno%20Pizzeria-Restaurant!5e0!3m2!1sen!2sgr!4v1697445051267!5m2!1sen!2sgr"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="border flex justify-center pt-8 pb-8 text-gray-800">
    <div class="w-48 text-center">
      <p>© 2024 Dalforno. Powered by Astro and React</p>
    </div>
  </div>
</footer>
