---
import { Image } from "astro:assets";
import ContactUs from "./ContactUs.astro";
import Form from "./Form.astro";
import dalfornoImg from "../../assets/dalfornoMapo.png";
---

<footer>
  <ContactUs />
  <Form />
  <div>
    <Image
      width={2000}
      format="avif"
      quality={"high"}
      src={dalfornoImg}
      alt="map of dalforno"
    />
  </div>
  <div class="border flex justify-center pt-8 pb-8 text-gray-800">
    <div class="w-48 text-center">
      <p>© 2024 Dalforno. Powered by Astro and React</p>
    </div>
  </div>
</footer>
