---
import ContactUs from "./ContactUs.astro";
import Form from "./Form.astro";
---

<main>
  <ContactUs />
  <Form />
  <iframe
    class="h-80 w-full pt-20"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3102.5929164273684!2d20.752242412284556!3d38.956127371593645!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x135c38fc8dbe46bd%3A0x513385bc1dfa3b1c!2sDal%20Forno%20Pizzeria-Restaurant!5e0!3m2!1sel!2sgr!4v1697378449880!5m2!1sel!2sgr"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  <div class="border flex justify-center pt-8 pb-8 text-gray-800">
    <div class="w-48 text-center">
      <p>© 2024 Dalforno. Powered by Astro and React</p>
    </div>
  </div>
</main>
