---

---

<form
  class="flex flex-col items-center pt-12 pb-24"
  action="https://formspree.io/f/xvojzoly"
  method="POST"
>
  <div class="xl:w-[550px]">
    <div
      class="flex flex-col items-center gap-y-3 w-72 xl:w-[550px] xl:grid xl:grid-cols-4 xl:gap-x-3"
    >
      <label
        class="border-b border-gray-600 w-full xl:col-span-2 sm:hover:border-b-italia"
      >
        <input
          class="pl-6 text-gray-700 focus:outline-none pb-2 w-full"
          type="email"
          name="email"
          placeholder="Email"
        />
      </label>
      <label
        class="border-b border-gray-600 w-full xl:col-span-2 sm:hover:border-b-italia"
      >
        <input
          class="pl-6 text-gray-700 focus:outline-none pb-2 w-full"
          type="text"
          name="name"
          placeholder="Όνομα"
        />
      </label>
      <label
        class="border-b border-gray-600 w-full xl:col-span-4 sm:hover:border-b-italia"
      >
        <textarea
          class="pl-6 text-gray-700 focus:outline-none pb-2 xl:pt-2 w-full h-24"
          name="message"
          placeholder="το μήνυμά σας..."></textarea>
      </label>
      <button
        class="border border-gray-700 w-full py-2 xl:col-span-4 sm:hover:text-italia duration-200"
        type="submit">Αποστολή</button
      >
    </div>
  </div>
</form>
