---
import MainHead from "./MainHead.astro";
import Navigation from "../components/Navigation";
import Footer from "../components/footer/Footer.astro";
const { title } = Astro.props;
---

<!doctype html>
<html transition:animate="none" lang="en">
  <MainHead {title} />
  <body>
    <Navigation client:load transition:persist />
    <slot />
    <Footer />
  </body>
</html>
