---
import Navigation from "../components/Navigation";
import MainHead from "./MainHead.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <MainHead {title} />
  <body>
    <Navigation client:load transition:persist />
    <slot />
  </body>
</html>
